@page "/calendar"
@using PayPilot.Core.Dtos

<h3>Calendar</h3>

<RadzenScheduler
    @ref=@scheduler TItem="ShiftReadDto" Data=@shifts
    StartProperty="StartUtc" EndProperty="EndUtc" TextProperty="Title">
    <RadzenWeekView/>
</RadzenScheduler>

@code {
    RadzenScheduler<ShiftReadDto> scheduler;

    IList<ShiftReadDto> shifts = new List<ShiftReadDto>();
}