@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <ErrorBoundary>
            <ChildContent>
                @Body
            </ChildContent>
            <ErrorContent>
                <PayPilot.Components.Shared.Error
                    Code="500" Details="@context.Message"
                    PrimaryText="Learn More" PrimaryHref="@context.HelpLink"/>
            </ErrorContent>
        </ErrorBoundary>
    </main>
</div>